name: Add Github Release Tag

on:
  push:
    tags:
      - v*

jobs:
  release:
    if: github.repository == 'pengzhanbo/vite-plugin-mock-dev-server'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
